.title {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 147%;
  text-transform: uppercase;
}

@media screen and (max-width: 1080px) {
  .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 720px) {
  .title {
    font-size: 20px;
  }
}
