.first-screen__title {
  font-size: 64px;
  font-weight: 500;
  font-style: normal;
  line-height: 148%;
  text-transform: uppercase;
  max-width: 734px;
  margin: 112px auto 35px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 720px) {
  .first-screen__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 425px) {
  .first-screen__title {
    font-size: 40px;
  }
}
