.contacts__info {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
  color: #000;
}

@media screen and (max-width: 960px) {
  .contacts__info {
    font-size: 20px;
  }
}

@media screen and (max-width: 720px) {
  .contacts__info {
    font-size: 16px;
  }
}
