.project__card-title {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 150%;
  color: #404149;
  margin: 0 0 20px;
  position: relative;
}

.project__card-title::before {
  content: '';
  display: block;
  position: absolute;
  width: 55px;
  height: 6px;
  left: 0;
  top: -15px;
  background-color: #f7654a;
}

@media screen and (max-width: 960px) {
  .project__card-title {
    margin-bottom: 40px;
  }

  .project__card-title::before {
    top: calc(100% + 10px);
  }
}
