.first-screen__subtitle {
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  max-width: 734px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 0 10px;
}

@media screen and (max-width: 720px) {
  .first-screen__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {
  .first-screen__subtitle {
    font-size: 18px;
  }
}
